<section>
    <hr class="featurette-divider">
    
    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">Nuestros servicios son de primera <span class="text-muted"></span></h2>
        <p class="lead">Orientados en dar la mejor atención y experiencia de servicio en cada uno de nuestros trabajos. Dando la importancia necesaria a su vehículo. Además entregamos servicios para empresas otorgando seguridad a su flota de automóviles.</p>
      </div>
      <div class="col-md-5">
        <img class="imagen-index" src="https://http2.mlstatic.com/taller-mecanico-a-domicilio-personalizado-santiago-D_NQ_NP_692701-MLC43135459481_082020-F.jpg" alt="" width="600" height="600">
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading">Tenemos repuestos de primera. <span class="text-muted">Y a un buen precio.</span></h2>
        <p class="lead">Contamos con los mejores repuestos para su vehículo, nuestros distribuidores son oficiales y garantizan el mejor funcionamiento.</p>
      </div>
      <div class="col-md-5 order-md-1">
        <img class="imagen-index" src="https://img.freepik.com/foto-gratis/mecanico-sexo-femenino-que-sostiene-piezas-repuesto-coche_1170-1615.jpg?size=626&ext=jpg&ga=GA1.2.855662366.1616976000" alt="" width="600" height="600">
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">Y por último, <span class="text-muted">confianza.</span></h2>
        <p class="lead">Deje su vehículos en nuestras manos, nuestros trabajos estan certificados y garantizados, no se arrepentirá.</p>
        <h2 class="featurette-heading">Testimonios de nuestros clientes.</h2>
        <p class="lead fst-italic">"Recomiendo el taller mecánico KMS, ya que la mantención de los vehículos para nuestra empresa han sido realizadas de buena forma y su entrega fue a tiempo y en plazos bastante convenientes para nuestra empresa. Adicionalmente los recomiendo por su buen trabajo, honestidad y compromiso."</p>
        <p>Sebastián Ibarra, Jefe planta automovilistica ONG Ayuda a un Peludo.</p>
      </div>
      <div class="col-md-5">
        <img class="imagen-index" src="https://www.fmgbrakes.com/media/roadhouse-como-generar-confianza-cliente-taller-mecanico.jpg" alt="" width="600" height="600">
      </div>
    </div>

    <hr class="featurette-divider">
 </section>